/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font: 16px/28px arial, san-sherif;
	background-color: lightgrey;
	color: darkblack;
	background-image: url(img/circle-blues.png);

}
.topbar{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background-color: black;
	border-bottom: 3px solid white;
	z-index: 999;

}
.container{ 
	width: 1000px;
	margin:80px auto;
	background-color: white;
	background-image: url(img/vintage-wallpaper.png);
	border: 10px solid black;
	position: relative;
}
.facebook{
	width: 161px;
	height: 129px;
	background-image: url(img/facebook.png);
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: 9999px;
	position: absolute;
	top: -20px;
	right: -43px;
}
.header .Judul{
	padding: 20px;
	font-size: 40px;
	font-weight: bold;
	margin-top: 20px;
} 
.header ul li{
	padding-left: 20px;
	display: inline-block;
} 
.header a{
	text-decoration: none;
	color: coral;
	padding: 4px;
}
.header a:hover{
	background-color: lightskyblue;
	color: white;
}
.container .hero{
	height: 350px;
	background-image: url(img/logo.png);
	/*background-size: cover; apabila gambar kurang terlihat kebih jelas*/
	/*backgroud-position: ... ; apbaila ingin mengepaskan gambar*/
	background-position: -50px;
	border-top: 5px solid purple;
		border-bottom: 5px solid darkblue;
}
.main {
	width: 600px;
	padding: 20px;
	float: left;
	box-sizing: border-box;


}

.main h2{
	padding: 20px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 30px;
}
.main .penulis {
	font-size: 12px;
	margin-top: -20px;
	color: black;
}
.main .penulis a{
	text-decoration: none;
	color: white;
}
.main p{
	padding: 20px
}
/*SIDEBAR*/
.sidebar{
	widht:300px;
	padding: 30px;
}
.sidebar h3{
	font-weight: bold;
	color: grey;
}
.sidebar img {
	width: 100px;
	height: 120px;
	float: left;
	padding-right: 10px;
}
.sidebar p{
	font: 12px/18px arial;

}
.footer{
	background-color: black;
	padding: 10px;

}
.footer .copy{
	color: grey;
	text-align: center;
	font-size: 14px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 /*Teknik micro clear untuk hapus float*/
.cf {


